@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');
.app{
    font-family: 'Tajawal', sans-serif;
    .link{
        color: inherit;
        text-decoration: none;
    }
}